@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"
     <h1>Demo - Satyanarayana Padidapu</h1>
    <h2>WebAPP - Deployment</h2>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
